
mixin list(id, ...items)
    ul(class=id)
        each item in items
            li
                a(href='javascript:void(0)')!{item}

doctype html
html(lang="ru")
  head
    title Beeline Привет+
    link(rel='stylesheet', href='css/styles.css')
    script(type='text/javascript', src='js/build/production.min.js')
  body
    header.container-fluid
        div.row.topHeadBlock
            a(href='javascript:void(0);', class='backMainSite col-lg-6 col-md-6 col-sm-12 col-xs-12')| На основной сайт Beeline
            div.col-lg-6.col-md-6.col-sm-12.col-xs-12
                span.changeLang.pull-right
                    a(href='javascript:void(0);', class='kgz text-uppercase')| kgz
                    a(href='javascript:void(0);', class='rus text-uppercase active')| rus
                input(type='text', class='search pull-right')
        div.row.botHeadBlock
            div.col-lg-4.col-md-4.col-sm-12.col-xs-12
                a#logo(href='javascript:void(0);')| Привет+
            nav#topMenu.col-lg-5.col-md-5.col-sm-12.col-xs-12
                ul.nav.navbar-nav
                    li
                        a(href='javascript:void(0);')| Чарты
                            span.glyphicon.glyphicon-triangle-bottom
                        +list('dropSubMenu', 'Топ 100', 'Популярные', '', 'Юмор', 'Рок', 'Шансон', 'Реп и хип-хоп', 'Клубная музыка', 'Саундтрек', 'Поп', 'Классика', 'Этническая музыка', 'Джаз')
                    li
                        a(href='javascript:void(0);')| Опции
                            span.glyphicon.glyphicon-triangle-bottom
                        +list('dropSubMenu', 'Топ 100', 'Популярные', '', 'Юмор', 'Рок', 'Шансон', 'Реп и хип-хоп', 'Клубная музыка', 'Саундтрек', 'Поп', 'Классика', 'Этническая музыка', 'Джаз')
                    li
                        a(href='javascript:void(0);')| Узнай больше
                            span.glyphicon.glyphicon-triangle-bottom
                        +list('dropSubMenu', 'Топ 100', 'Популярные', '', 'Юмор', 'Рок', 'Шансон', 'Реп и хип-хоп', 'Клубная музыка', 'Саундтрек', 'Поп', 'Классика', 'Этническая музыка', 'Джаз')
            div.login.text-centercol-lg-1.col-md-1.col-sm-12.col-xs-12
                a(href='javascript:void(0)')|Войти
            div.connectService.col-lg-2.col-md-2.col-sm-12.col-xs-12
                a.beebtn(href='javascript:void(0)')| Подключить услугу

    section.container-fluid.content
        h1 Jade - node template engine
        #container.col
            p Get on it!
          p.
            Jade is a terse and simple
            templating language with a
            strong focus on performance
            and powerful features
            
        include includes/data.jade
        each data in datas
                div.name #{data.name}
                div.title #{data.title}
                div.price #{data.price}
                div.likes #{data.likes}
    footer.container-fluid
        div.row
            div.copyright.col-lg-2.col-md-2.col-sm-12.col-xs-12|Билайн &copy; 2016.
            div.info.pull-right.text-right.col-lg-6.col-md-6.col-sm-12.col-xs.12
                ul.list
                    li.list-item
                        a.rightholder(href='javascript:void(0)')|Информация о правообладателях
                    li.list-item
                        a.aboutServ(href='javascript:void(0)')|Об услуге    
 