@import 'nib'
@import "normalize.css"
@import "fonts.css"
@import "bootstrap.css"

first-color = #feda24
second-color = #1c1c1c
primaryfont = Arial, Helvetica Neue, Helvetica
secondfont = 'officinaserif'

border-radius()
	-webkit-border-radius: arguments
	-moz-border-radius: arguments
	border-radius: arguments

box-sizing()
	-webkit-box-sizing: arguments
	-moz-box-sizing: arguments
	box-sizing: arguments

body
	font: 14px primaryfont, sans-serif
	background: #fff
	color: #666
	.beebtn
		display:inline-block
		background: #f7a700
		background-image:linear-gradient(to bottom,#ffe100 0%,#f7a700 100%)
		font: 15px secondfont
		height:32px
		line-height:32px
		color: #282828
		border-radius: 24px
		text-shadow: 0 1px 1px #fee215
		box-shadow: 0 3px 0 0 #bc804a
		border: 1px solid #f0cda7
		border-top-width: 0
		cursor: pointer
		position: relative
		text-align: center
		margin-bottom: 3px
		padding: 0 21px
		white-space: nowrap
		outline: 0
		text-decoration:none;
		&:hover
			background: #f7a700
			background: linear-gradient(to bottom,#fefdc4 0%,#fbb600 49%,#ed9f19 77%,#e9b03f 100%)
	.list
		font-size: 0
		line-height: 0
		letter-spacing: -1px
		margin: 0;
		& > .list-item
			font-size: 14px
			line-height: normal
			letter-spacing: normal
			display: -moz-inline-stack!important
			display: inline-block
			vertical-align: top
			zoom: 1
header
	.topHeadBlock
		height:41px
		background: second-color
		& > *
			line-height:41px
		input.search
			background:url(../images/search.png) 97% 50% no-repeat transparent
			height:25px;
			width:141px;
			border:1px solid #6b6b6b
			border-radius:2px
			outline:none
			font-size:14px
			line-height:16px
			vertical-align:middle
			padding:4.5px 21px 4.5px 5px
			margin:8px 15px 8px 0
		.changeLang
			& > a
				color:#fff
				margin-left:15px
				text-decoration:none
				&:hover
				&.active
					color:first-color
		a.backMainSite
			font-size:11px
			color:#999
			text-decoration:underline
			&:hover
				color:first-color
	.botHeadBlock
		a#logo
			display:inline-block
			background:url(../images/logo.png) 0 50% no-repeat
			padding-left:210px
			height:68px
			text-decoration:none
			cursor:pointer
			font:28.5px secondfont
			font-weight:bold
			color:#000
			padding-top:22px
			box-sizing:border-box
		nav#topMenu
			ul
				li
					position:relative
					a
						font:20px secondfont
						color:#363636
						background:transparent !important
						span
							margin-left:8px
						&:hover span
							color:#000
					& > ul
						position:absolute
						top:55px
						left:0
						opacity:0
						transition:all 500ms ease-in-out
						padding:0;
						list-style:none
						background:rgba(255,255,255,.85)
						box-shadow:0 0 5px 1px #000
						z-index:2
						display:none
						&:before
							content:''
							display:block
							position:absolute
							width:10px
							height:10px
							top:-5px
							transform: rotate(45deg)
							box-shadow:0 0 5px 1px #000
							z-index:1
							left:50%
							margin-left:-5px
						li
							a
								font:14px primaryfont
					&:hover > ul
						opacity:1
						display:block
	div.login
		a
			font:16px secondfont
			color:#363636
			text-decoration:underline

footer
	background:#282828
	color:#666
	min-height:120px
	padding-top:55px
	padding-bottom:55px
	a
		color:#666 !important
	div.info
		ul
			li
				padding:0 19px
				border-right:1px solid
				&:last-child
					border-right:none
